.container-fluid {
  display: flex;
  background-color: white;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  padding: 10px;
  background-color: #343a40;
  color: white;
  justify-content: center;
}

.accordion .card {
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  margin: 20px 0px;
}

.accordion .card-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  font-size: 1.5rem;
  font-weight: bold;
}

.accordion .card-body {
  padding: 20px;
}


.delete-board-button {
  font-size: 1rem;
}

.edit-button {
  display: none;
}

.list {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
}

.add-list-form {
  display: flex;
  align-items: baseline;
  column-gap: 20px;
  padding: 10px;

}

.form-control {
  margin-bottom: 0;
}

.list-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1.2rem;
  word-wrap: break-word;
  font-weight: 700;
  margin-bottom: 20px;
}

.list-stat {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.list-item {
  width: inherit;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #dae1e9;
  color: #343a40;
  border-radius: 5px;
  margin: 0.5rem 0;
  padding: 10px 10px;
  max-width: inherit;
}

.list-item .styles_Editext__main_container__2Y-IL {
  max-width: 80%;
}

.edit-view {
  display: flex;
  flex-direction: row;
  height: fit-content;
  justify-content: flex-end;
  word-wrap: break-word;
}

.view-container {
  word-wrap: break-word;
  max-width: 60vw;
}

.card-body .view-container {
  word-wrap: break-word;
  max-width: 100%;
}

.add-board-form {
  padding: 1em;
  display: block;
  width: 400px;
  background-color: white;
  border-radius: 10px;
}

.add-board-alert {
  background-color: rgba(153, 153, 153, 0.226);
}

.board-description {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.board-description .view-container {
  max-width: 60vw;
}